#textbox {
	text-align: center;
	width: 310px;
	height: 20px;
	margin: 5px;

}
#readContainer{
	height: 600px; 
	width: 320px;
	border: 1px solid Black;
	margin: 2px 2px 2px 550px;
}

#readConditionsBlock1{
	background: -webkit-linear-gradient(top, #f78331 1%,#f4f1ef 22%,#f4f1ef 77%,#4f7f44 100%); /* Chrome10-25,Safari5.1-6 */
	padding: 20px;
	line-height: 0.8em;
	margin: 5px;
	height: 95px;
	
}
#readConditionsBlock1 h5{

}
#readConditionsBlock1 h3{
	text-align: center;
margin-bottom: -8px;
line-height: 0.1em;
color: #4e1f82;
padding-top: -7px;

 
}
#readConditionsBlock1 img{
	
	display: block;
	height: 40px;
	width: 40px;
	margin-left: 110px;
	margin-bottom: 5px;
	
}
#para{
	text-align: center;
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 24%,#90baed 24%,#f2f4f4 100%); /* Chrome10-25,Safari5.1-6 */
	margin: 15px 5px 5px 5px;
}
a button{
	background: linear-gradient(to bottom, #e56842 -1%,#e56842 31%,#d5cea6 99%);
}
#para1{
font-size: 11px;
	background-color:#7aa4e8;
	line-height: 1.7em;
	margin: 10px;
	text-align: center;
	color: white;

}
#readConditionsTable{
	margin: 5px;
	border-collapse: collapse;
	width: 310px;
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 24%,#90baed 24%,#f2f4f4 100%); /* Chrome10-25,Safari5.1-6 */
	 box-shadow: 3px 3px 1px #888888;
	 border-color:  black;
	 height: 230px;
}
button{
	width:310px;
	margin: 5px;
background: linear-gradient(to bottom, #e56842 -1%,#e56842 31%,#d5cea6 99%);
}
#readConditionsBlock2{
	margin:5px;
	height: 90px;
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 100%,#90baed 100%,#f2f4f4 100%,#90baed 100%); /* Chrome10-25,Safari5.1-6 */
}
#readConditionsBlock2 img{
	padding: 15px;
margin-left: 65px;
width: 155px;
height: 25px;

}
#readConditionsBlock2 p{
	text-align: center;
	margin: 5px;
line-height: 0.8em;
background: linear-gradient(to bottom, #e56842 -1%,#e56842 31%,#d5cea6 99%);
}
.homebutton{
	margin-top:0px;
}
.sbiclass{
margin-top:0px;	
}