.mainContainer{
	
	height: 600px; 
	width: 320px;
	border: 1px solid Black;
	margin: 2px 2px 2px 550px;

}
#stateBankOfIndiaBlock{
	background: -webkit-linear-gradient(top, #f78331 1%,#f4f1ef 22%,#f4f1ef 77%,#4f7f44 100%); /* Chrome10-25,Safari5.1-6 */
	padding: 20px;
	margin: 5px;
	height: 80px;
	opacity: 0.9;
}
#stateBankOfIndiaBlock h3{
	text-align: center;
margin-bottom: 5px;
line-height: 0em;
color: #4e1f82;
opacity: 0.9;


}
#stateBankOfIndiaBlock img{
	display: block;
	height: 40px;
	width: 40px;
	margin-left: 110px;
	margin-bottom: 5px;

}
#sbiTest{
position:absolute;
	 top:125px;
	 margin-left: 65px;
	 bottom: 15px;
	 height: 30px;
	 width: 185px;
}
#stateBankOfIndiaBlock2{
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 100%,#90baed 100%,#f2f4f4 100%,#90baed 100%);
	height: 160px;
	padding: 5px;
	margin: 5px;
	
}
#stateBankOfIndiaBlock2 h3{
text-align: center;
line-height: 0em;
}
#stateBankOfIndiaBlock2 h4{
	text-align: center;
	color: white;
	line-height: 0.1em;
}
#stateBankOfIndiaBlock2 p{
	text-align: center;
	line-height: 0.8em;
}
#stateBankOfIndiaBlock2 button{
height: 35px;	
color: #4e1f82;
width: 300px;

background: linear-gradient(to bottom, #e56842 -1%,#e56842 31%,#d5cea6 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#stateBankOfIndiaBlock3{
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 100%,#90baed 100%,#f2f4f4 100%,#90baed 100%);
	height: 120px;
	padding: 5px;
	margin: 5px;
	
}
#stateBankOfIndiaBlock3 h3{
text-align: center;
line-height: 0em;
}
#stateBankOfIndiaBlock3 h4{
text-align: center;
color:white;
line-height: 0.8em;
}
#stateBankOfIndiaBlock3 p{
	text-align: center;
	color: #4e1f82;
	height: 35px;
	line-height: 0.8em;
	background: linear-gradient(to bottom, #e56842 -1%,#e56842 31%,#d5cea6 99%);
}
#MoreButtons{
	background: -webkit-linear-gradient(top, #90baed 0%,#90baed 100%,#90baed 100%,#f2f4f4 100%,#90baed 100%);
	height: 80px;
	padding: 5px;
	margin: 5px;
	
}
#MoreButtons h3{
text-align: center;
line-height: 0em;
}
#MoreButtons button{
width: 70px;
height: 40px;
line-height: 0.9em;
}
#stateBankOfIndiaBlock4{
	background: -webkit-linear-gradient(top, #f78331 1%,#f4f1ef 22%,#f4f1ef 77%,#4f7f44 100%); /* Chrome10-25,Safari5.1-6 */
	height: 50px;
	width: 305px;
	padding: 2px;
	margin: 5px 25px 15px -5px;
/*margin-left: 10px;*/
opacity: 0.9;
}
#stateBankOfIndiaBlock4 p{
text-align: center;
font-size: 13px;
line-height: 0.9em;


}
.homebutton{
	margin-top:0px;
}
.sbiclass{
margin-top:-10px;	
}